<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
    <link href="/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

</head>
<body>


<div style="width: 300px;margin:120px auto" id="setPassword">
    <div style="padding: 10px 20px;">
        <h1 style="text-align: center">Reset password</h1>
    </div>
    <div style="padding: 20px 0px 0px 0px ;border: 1px solid #d8dee2;font-size: 14px;padding: 20px;border-top: 1px solid #d8dee3;border-radius: 5px;">
        <form>
            <div class="form-group">
                <label for="Username">Username</label>
                <input type="username" class="form-control" id="Username" name="username" placeholder="Username">
                <span class="help-block"></span>
            </div>
            <div class="form-group">
                <label for="password">Enter your new password：</label>
                <input type="password" class="form-control" id="password" name="password" >
                <span class="help-block"></span>
            </div>
            <div class="form-group">
                <label for="repassword">Check password：</label>
                <input type="password" class="form-control" id="repassword" name="repassword" >
                <span class="help-block"></span>
            </div>
            <button type="button" id="submit_btn" class="btn btn-primary btn-block">Set password</button>
        </form>
    </div>

</div>
</body>

<script type="text/javascript">


    function show_validata_msg(ele,status,msg){
        $(ele).parent().remove("has-success has-error");
        $(ele).next("span").text("");
        if("success"==status){
            $(ele).parent().addClass("has-success");
            $(ele).next("span").text(msg);
        }else{
            $(ele).parent().addClass("has-error");
            $(ele).next("span").text(msg);
        }
    }

    $("#Username").change(function () {
        $.ajax({
            url:"FogotcheckName",
            type:"GET",
            data:{username:$("#Username").val()},
            success:function (result) {
                if(result.code==100){
                    show_validata_msg("#Username","success","");
                    $("#submit_btn").attr("ajax-va","success");
                }else{
                    show_validata_msg("#Username","error","用户名不存在");
                    $("#submit_btn").attr("ajax-va","error");
                }
            }
        })


    });


    $("#password").change(function () {
        var password= $("#password").val();
        var repassword= $("#repassword").val();
        var regpassword=/^[a-zA-Z0-9_-]{6,16}$/;
        if(!regpassword.test(password)){
            show_validata_msg("#password","error","密码为6-16位字母或数字");
        }else if(repassword!=""){
            if(repassword!=password){
                show_validata_msg("#password","error","两次输入不一致！");
                show_validata_msg("#repassword","error","两次输入不一致！");
            }else{
                show_validata_msg("#password","success","");
                show_validata_msg("#repassword","success","");
            }
        }
    });

    $("#repassword").change(function (){
        var password= $("#password").val();
        var repassword= $("#repassword").val();
        if(password!=""){
            if(repassword!=password){
                show_validata_msg("#password","error","两次输入不一致！");
                show_validata_msg("#repassword","error","两次输入不一致！");
            }else{
                show_validata_msg("#password","success","");
                show_validata_msg("#repassword","success","");
            }
        }
    });

    $("#submit_btn").click(function () {
        if($(this).attr("ajax-va")=="error"){
            return false;
        }
        var password= $("#password").val();
        var repassword= $("#repassword").val();
        var regpassword=/^[a-zA-Z0-9_-]{6,16}$/;
        if(password!=repassword||!regpassword.test(password)){
            return false;
        }
        $.ajax({
            url:"api/user",
            type:"PUT",
            data:{
                username:$("#Username").val(),
                password:password
            },
            success:function (result) {
                    window.location.href="login";
                    alert("重置成功，请重新登录！");
            }
        });

    });



</script>


</html>