<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
    <link href="/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

</head>
<body>



<div class="modal fade" id="setpassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">首次登陆请设置登陆密码</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">

                    <div class="form-group ">
                        <label  class="col-sm-2 control-label">账户</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="username" id="username_set" readonly="readonly" >
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label  class="col-sm-2 control-label">密码</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="password" id="password_set" >
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label  class="col-sm-2 control-label">重复密码</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="repassword" id="password_reset" >
                            <span class="help-block"></span>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="submit_password_btn">提交</button>
            </div>
        </div>
    </div>
</div>


<div style="width: 300px;margin:120px auto" id="loginModel">
    <div style="padding: 10px 20px;">
        <h1 style="text-align: center">Sign in to Blog</h1>
    </div>
    <div style="padding: 20px 0px 0px 0px ;background-color:#fff;border: 1px solid #d8dee2;font-size: 14px;padding: 20px;border-top: 1px solid #d8dee2;border-radius: 5px;">
        <form>
            <div class="form-group">
                <label for="Username">Username</label>
                <input type="username" class="form-control" id="Username" name="username" placeholder="Username">
                <span class="help-block"></span>
            </div>
            <div class="form-group">
                <label for="password" style="width: 300px">Password

                    <a style="float: right" href="forgotPassword">Forgot password?</a>

                </label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                <span class="help-block"></span>
                <button type="button" id="submit_btnyyy" class="btn btn-primary btn-block">Sign in</button>
            </div>
        </form>

    </div>
    <div>
        <p style="padding:20px 20px;text-align: center;border:1px solid #d8dee2;
            border-radius: 5px;
            padding: 15px 20px;
    text-align: center;margin-top: 16px!important;">New to Blog?<a href="join">Create an account</a></p>
    </div>


</div>
</body>

<script type="text/javascript">

    function show_validata_msg(ele,status,msg){
        $(ele).parent().remove("has-success has-error");
        $(ele).next("span").text("");
        if("success"==status){
            $(ele).parent().addClass("has-success");
            $(ele).next("span").text(msg);
        }else{
            $(ele).parent().addClass("has-error");
            $(ele).next("span").text(msg);
        }
    }
    $("#Username").change(function () {
        var username= $("#Username").val();
        if(username!=""){
            show_validata_msg("#Username","success","");
        }
    });

    $("#submit_btnyyy").click(function (){
        var username= $("#Username").val();
        var password= $("#password").val();
        if(username==""){
            show_validata_msg("#Username","error","用户名不为空");
            return false;
        }
        $.ajax({
            url:"sign_in",
            type:"POST",
            data:$("#loginModel form").serialize(),
            success:function (result) {

                if(result.code==200){
                    alert("用户名或密码错误，请重新输入。");
                }else if(result.extend.login==1){
                    reset_form("#setpassword form");
                    $("#username_set").val(username);
                    $("#setpassword").modal({
                        backdrop:"static",
                    });
                }else{
                    var userInfo=result.extend.userInfo;

                    $.cookie('userid', userInfo.userId);

                    $.cookie('username', userInfo.username);

                    window.location.href="index";
                }
            },
            error:function (e) {
                console.log(e);

            }
        });
    });

    function reset_form(ele){
        $(ele)[0].reset();
        $(ele).find("*").removeClass("has-success has-error");
        $(ele).find(".help-block").text("");
    }

    $("#password_set").change(function (){
        var password= $("#password_set").val();
        var repassword=$("#password_reset").val();
        var regpassword=/^[a-zA-Z0-9_-]{6,16}$/;
        if(!regpassword.test(password)){
            show_validata_msg("#password_set","error","密码为6-16位字母或数字");
        }else if(repassword!=""){
            if(repassword!=password){
                show_validata_msg("#password_set","error","两次输入不一致！");
                show_validata_msg("#password_reset","error","两次输入不一致！");
            }else{
                show_validata_msg("#password_set","success","");
                show_validata_msg("#password_reset","success","");
            }
        }
    });
    $("#password_reset").change(function (){
        var password= $("#password_set").val();
        var repassword=$("#password_reset").val();
        if(password!=""){
            if(repassword!=password){
                show_validata_msg("#password_set","error","两次输入不一致！");
                show_validata_msg("#password_reset","error","两次输入不一致！");
            }else{
                show_validata_msg("#password_set","success","");
                show_validata_msg("#password_reset","success","");
            }
        }
    });
    $("#submit_password_btn").click(function () {
        var password= $("#password_set").val();
        var repassword=$("#password_reset").val();
        var regpassword=/^[a-zA-Z0-9_-]{6,16}$/;
        if(password!=repassword||!regpassword.test(password)){
            return false;
        }
        $.ajax({
            url:"sign_in",
            type:"PUT",
            data:$("#setpassword form").serialize(),
            success:function (result) {

                if(result.code==100){

                    var userInfo=result.extend.userInfo;

                    $.cookie('username', userInfo.username);

                    $.cookie('userid', userInfo.userId);

                    window.location.href="index";
                }else{
                    show_validata_msg("#password_set","error","输入错误！");
                }
            }
        });

    });








</script>


</html>