<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyrj.usermanagement.dao.CommentMapper">

    <insert id="saveComment" parameterType="com.zyrj.usermanagement.service.CommentService" >
        insert into comment_info (comment,create_by,commentator,article_id,parent_id)
        VALUES (#{comment},#{create_by},#{commentator},#{article_id},#{parent_id})
    </insert>

</mapper>